body {
    margin: 0;
    padding: 0;
  }
  
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004098;
    padding: 20px 10px;
    margin: 0;
  }
  
  /* logo样式 */
  .logo {
    height: 50px;
}
  
  /* 标语图片样式 */
  .slogan {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  
  /* 主体内容样式 */
  .main {
    max-width: 1200px;
    margin: 0 10px 0 100px;
    display: flex;
  }
  
  /* 学校图片样式 */
  .school-img {
    width: 570px;
    height: 380px;
    margin: 20px 20px 20px 0;
  }
  
  /* 介绍文字样式 */
  .introduction {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 25px;
  }
  
  .introduction1 {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    color: lightskyblue;
  }
  
  article::first-letter { 
    font-size: 2em;
    color: turquoise;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
  }
  
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004098;
    padding: 20px 10px;
    margin: 0;
  }

  /* 底部导航栏 */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    display: flex;
    /* 水平对齐方式为靠右对齐 */
    justify-content: center;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  
  
  nav ul li a {
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color:royalblue;
  }
  