.container {
    max-width: 1200px;  
    margin: 0 auto;
}

.title {
    text-align: center;
    background-color: #ccc;
    display: flex;
    /* 水平对齐方式为靠右对齐 */
    justify-content: center;
    padding: 20px;
    margin: auto;
}

/* 内容 */
.content {
    /* Flex 容器 */
    display: flex;
    /* Flex 项目均匀分布在主轴上，两端留有空隙。 */
    justify-content: space-between;
    align-items: center;
    background-color:#f5f5f5;
}

/* 左部分 */
.left {
    width: 50%;
    text-align: center;
}

.left p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

/* 右部分 */
.right {
    width: 50%;
    text-align: center;
}

.right img {
    max-width: 100%;
    height: auto;
}




/* 底部导航栏 */
footer {
    background-color: #ccc;
    display: flex;
    /* 水平对齐方式为靠右对齐 */
    justify-content: flex-end;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #ff69b4;
  }
  
  .imgg {
    display: none;
  }
  
  .image:hover + .imgg {
    display: block;
  }
  
  .btn {
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: #13a3bd;
    color: #fff;
    font-size: 20px;
    text-decoration: none;

}